## Import libraries & load data

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("Mall_Customers.csv")

## Displya First 5 Rows

In [6]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## Identify missing values

In [7]:
data.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

## Handle missing values

In [10]:
# Option A: Drop rows where all values are missing
data.dropna(how='all', inplace=True)

# Option B: Fill specific columns
data['Gender'].fillna('Unknown', inplace=True)
data['Annual Income (k$)'].fillna(data['Annual Income (k$)'].mean(), inplace=True)

## Remove duplicates

In [12]:
data.drop_duplicates(inplace=True)

## Standardize text fields

In [14]:
data['Gender'] = data['Gender'].str.capitalize()

## Rename Columns

In [17]:
data.rename(columns={
    'CustomerID': 'customer_id',
    'Annual Income (k$)': 'annual_income_k',
    'Spending Score (1-100)': 'spending_score'
}, inplace=True)

In [18]:
data.head()

   customer_id  Gender  Age  annual_income_k  spending_score
0            1    Male   19               15              39
1            2    Male   21               15              81
2            3  Female   20               16               6
3            4  Female   23               16              77
4            5  Female   31               17              40

## Convert data types

In [19]:
data['Age'] = data['Age'].astype(int)

## Outlier treatment

In [ ]:
# Remove extreme annual_income_k values via IQR
Q1 = df['annual_income_k'].quantile(0.25)
Q3 = df['annual_income_k'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['annual_income_k'] >= Q1 - 1.5*IQR) &
        (df['annual_income_k'] <= Q3 + 1.5*IQR)]